@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;500;700&family=Teko:wght@500;600&display=swap");

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-platinum: hsl(0, 0%, 85%);
    --color-caribbean-current: hsl(183, 31%, 54%);
    --color-lighter-caribbean-current: hsl(183, 31%, 74%);
    --color-indigo-dye: hsl(204, 42%, 27%);
    --color-jet: hsl(0, 0%, 17%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}
body {
    font-size: 2rem;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-platinum);

    min-height: 100vh;
    display: grid;
    place-items: center;

    background-image: linear-gradient(
        45deg,
        hsl(183, 31%, 54%) 20%,
        hsl(183, 31%, 74%),
        hsl(0, 0%, 100%)
    );
}

.calc {
    width: 250px;
    background-color: var(--color-jet);
    border: 1px solid black;
    box-shadow: 0 0 20px hsl(0, 0%, 0%, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.calc__screen {
    margin-bottom: 1rem;
}

.screen__output {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-white);
    text-align: right;

    padding: 0.5rem 1rem;
}

.screen__input {
    text-align: right;

    padding: 0.5rem 1rem;
}

.calc__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 60px);

    gap: 1px;
}

.keys__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.keys__btn:active {
    filter: brightness(1.1);
}

.col-span-2 {
    grid-column: span 2;
}

.row-span-2 {
    grid-row: span 2;
}

.btn--numbers {
    background-color: var(--color-indigo-dye);
}

.btn--count {
    background-color: var(--color-caribbean-current);
}

.btn--function {
    background-color: hsl(0, 0%, 24%);
}
